## You will learn
- **Python as Basic calculator**
- **Operators in Python**
- **Data Types in Python**
- **Python Data Types Comparison**

## Python as a basic Calculator

In [1]:
1+3 # Sum two Numbers

4

In [2]:
5-3 # Subtract two Numbers

2

In [3]:
5*4 # Multiply two Numbers

20

In [4]:
12345/67891 # Divide two Numbers

0.18183558940065694

In [5]:
2**3 # x (2) to the power y (3)

8

In [6]:
7 + 7 / 7 + 7 * 7 - 7 # Can solve Tricky BODMAS Question as wellf

50.0

## Operators in Python
Operators are used to perform operations on variables and values.

### How to assign a value to a variable?

In [12]:
a = 5 # 5 is assigned to a variable called a
# There are no additional commands or type declaration, unlike other programming languages
b = 6 # 6 is assigned to a variable called b

print(a,b)

5 6

In [13]:
b = 7
print(a,b) # It stores the most recent assignment

5 7

### Python Arithmetic Operator

`+` `-` `*` `/` `//` `%`

We have already covered basic Arithmetic Operators while exploring `Python as a basic Calculator`.
Here I am listing them out:- 
- Addition `+`
- Subtraction `-`
- Multiplication `*`
- Division `/`
- Exponentiation `**`

Some advanced Arithmetic Operators are mentioned below with examples

###### Floor Division `//`
Divides and returns the integer value of the quotient

**Examples**

In [15]:
4/3

1.3333333333333333

In [16]:
print(3//4)
print(4//3)
print(10//3)

0
1
3

###### Modulus `%`
Divides and returns the value of the remainder

**Examples**

In [35]:
print(3%4)
print(4%3)
print(10%3)
print(10.5%3)

3
1
1
1.5

### Python Relational Operator
Relational Python Operator carries out the comparison between operands

`<`   `>`   `<=`  `>=`  `==`  `!=`

###### Less than `<`

**Examples**

In [40]:
3<4, 4<3, 5<5, 10 < 100

(True, False, False, True)

###### Greater than `>`

**Examples**

In [42]:
3>4, 4>3, 5>5, 10 > 100

(False, True, False, False)

###### Less than or equal to `<=`

**Examples**

In [44]:
3<=4, 4<=3, 5<=5, 10 <= 100

(True, False, True, True)

###### Greater than or equal to `>=`

**Examples**

In [46]:
3>=4, 4>=3, 5>=5, 10 >= 100

(False, True, True, False)

###### Equal to `==`

**Examples**

In [17]:
'Deepak' == 'Deepak'

True

In [47]:
3==4, 4==3, 5==5, 10 == 100

(False, False, True, False)

###### Not equal to `!=`

**Examples**

In [48]:
3!=4, 4!=3, 5!=5, 10 != 100

(True, True, False, True)

### Python Logical Operator

`AND` `OR` `NOT`

###### AND `and`
If the conditions on both the sides of the operator are true, then the expression as a whole is true.

**Examples**

In [54]:
7 > 7 and 2 > -1,    5 == 5 and 6 < 10,     5>5 and 6<6

(False, True, False)

###### OR `or`
The expression is false only if both the statements around the operator are false. Otherwise, it is true.

**Examples**

In [18]:
(5 == 5 or 6 < 10) and (5>5 or 6<6)

False

In [20]:
5 == 5 and 6 < 10 or 5>5

True

In [21]:
5 == 5 or 6 < 10 and 5>5

True

In [19]:
7 > 7 or 2 > -1,       5 == 5 or 6 > 10,      5>5 or 6<6

(True, True, False)

###### NOT `not`
This inverts the Boolean value of an expression. It converts True to False, and False to True

**Examples**

In [58]:
not 1 <= 1,     not 2>3,      not 5==5

(False, True, False)

### Python Membership Operator

`in` `not in`

These operators test whether a value is a member of a sequence

**Examples**

In [301]:
'india' in 'indian',   'Class' in 'Room',  'optum' in ['optum', 'uhc'],   'Jupyter' not in ['optum', 'uhc']

(True, False, True, True)

### Python Assignment Operator
An assignment operator assigns a value to a variable. It may manipulate the value by a factor before assigning it.

`=` `+=` `-=` `*=` `/=` `%=` `**=` `//=` 

**Examples**

In [22]:
# Assign
a = 7 # 7 is assigned to a variable called `a`
print(a)

7

In [30]:
id(a)

2152070041232

In [31]:
id(b)

140711005726688

In [23]:
# Add and Assign
a += 2 # Same as `a = a + 2`
print(a)

9

In [24]:
# Subtract and Assign
a -= 2 # Same as `a = a - 2`
print(a)

7

In [25]:
# Divide and Assign
a /= 7 # Same as `a = a/7`
print(a)

1.0

In [26]:
# Multiply and Assign
a *= 8 # Same as `a = a*8`
print(a)

8.0

In [27]:
# modulus and Assign
a %= 3 # Same as `a = a%3`
print(a)

2.0

In [28]:
# modulus and Assign
a **= 5 # Same as `a = a**5`
print(a)

32.0

In [29]:
# Floor-Divide and Assign
a //= 3 # Same as `a = a//3`
print(a)

10.0

Add Task Here !!!

## Data Types in Python 
##### Most Imp thing, please try not to sleep

Majorly there are 6 Data Types in Python:-
1. Numbers
2. Strings
3. Lists
4. Dictionaries
5. Tuples
6. Sets

### Number

`integer` `float` `complex` `boolean`

`Number`are data types that mainly have numerical values.

#### `Integer`
Takes a whole numerical value

**Examples**

In [36]:
a = 5
b = 6
c = 10
print(a, b, c)

5 6 10

In [38]:
type(a), type(b)

(int, int)

#### `Float`
A float takes a numerical value with decimal points

**Examples**

In [39]:
a = 5.78
b = 6.90
c = 10.01
print(a, b, c)

5.78 6.9 10.01

In [40]:
type(a), type(b)

(float, float)

#### `Complex`
A complex data type involves an imaginary number part which is always represented as `j`

**Examples**

In [42]:
a = 1+3j
print(a)

(1+3j)

In [43]:
a = 8j # is same as `0 as real part and 8 as imaginary part
b = 2 + 3j # is same as `2 as real part and 3 as imaginary part
c = 4 + 5j # is same as `4 as real part and 5 as imaginary part
print(a, b, c)

8j (2+3j) (4+5j)

In [44]:
print('In `b`')
print(f"Real Part is :- {b.real}\nImaginary Part is :- {b.imag}")

In `b`
Real Part is :- 2.0
Imaginary Part is :- 3.0

#### `Boolean`
A `boolean` only returns a `True` or `False` value

**Examples**

In [47]:
a = 6
A = 5

In [49]:
a==A

False

In [48]:
print(a, A)

6 5

In [51]:
a = 1<3
b = 3<1
c = True
d = 1==True
print(a, b, c, d)

True False True True

In [53]:
type(b)

bool

### Important Note
**Please note that Python is Case Sensitive**

In [134]:
# Lower case `a` is different than Upper case `A`
a = 3 
A = 4
print(a, A)

3 4

In [139]:
# `cat` with lower case `c` is different than `Cat` with upper case `c`
cat = 'Meow'
Cat = 'Meow Meow'
print(cat)
print(Cat)

Meow
Meow Meow

In [76]:
cat = 'meow'
print(cat)
cat = 'Meow Meow'

print(cat)

meow
Meow Meow

**`type()` is a Python function that lets you check the type of a variable**
We will talk more about Python functions Later.

In [54]:
x = 1
type(x)

int

In [55]:
x = 1.23
type(x)

float

In [56]:
x = 2 + 3j
type(x)

complex

In [68]:
x == y == 0

True

In [66]:
print(x, y)

0 0

In [67]:
id(x), id(y)

(140711005726464, 140711005726464)

In [73]:
x = 1
y = 2

id(x), id(y)

(140711005726496, 140711005726528)

In [74]:
a = 3j
b = 2+4j

a + b

(2+7j)

In [72]:
x = 1 == 0
print(x)
type(x)

False

bool

### `String`
`str`

String is data type that is written in single ' ' or double " " quotes. It is used to store character data.
It can contain numbers and special characters but they will be evaluated as actual letters rather than the numerical values

In [77]:
string = 'Optum'
print(string)

Optum

In [78]:
print(f'Length of `{string}` is {len(string)}') # `len()` is python function to get the lenght of an string Data type object

Length of `Optum` is 5

### `Important Note`

Please Note that Python Indexes starts with 0.

![Python Indexing Example](image/Python_Indexing_Example.png)

In [83]:
string[1:]

'ptum'

In [79]:
# Some properties of String Data Type
print(f'2nd Element in `{string}` is `{string[1]}`') # `String_data_type[x]` output the character at (x+1)th position

print(f'2nd Element in `{string}` from right side is `{string[-2]}`') # `String_data_type[-x]` output the character at (x)th position from end

print(f'2nd to 4th Elements in `{string}` are `{string[1:4]}`') # `String_data_type[x:y]` output the character at (x+1)th position to (y)th position

2nd Element in `Optum` is `p`
2nd Element in `Optum` from right side is `u`
2nd to 4th Elements in `Optum` are `ptu`

In [84]:
# properties of String Data Type -- Continude 
print(string.upper()) # `upper()` is function to convert all the characters in Upper Case
print(string.lower()) # `lower()` is function to convert all the characters in Lower Case
print(string.capitalize()) # `capitalize()` is function to convert first character to Upper case and rest to lower case

OPTUM
optum
Optum

In [85]:
string = 'optum uhg'
print(string.capitalize())  # As `optum uhg` is a single character with space in it, so it will Capitalize only first Character not `u` of `uhg`

Optum uhg

In [92]:
string = 'optum uhg'

' '.join([x.capitalize() for x in string.split(' ')])

'Optum Uhg'

In [87]:
listA = ['optum', 'uhg']

[x.capitalize() for x in listA]

['Optum', 'Uhg']

### `List`
A `list` is an array that is `changeable` and `ordered`, with `duplicates allowed`.

Array is a data structure consisting of a collection of elements.

In [93]:
listA = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
print(listA)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [94]:
type(listA)

list

In [96]:
listA[3]

4

In [97]:
# Changeable -- Can change elements of it
listA[0] = 10000
listA[-1] = 10000
print(listA)

[10000, 2, 3, 4, 5, 6, 7, 8, 9, 10000]

**Above property of being able to change its elements is known as `mutability`**

`Lists` are `mutable` **but** `strings` are **`not mutable`**

In [104]:
string = 'Optum'
string[-1] = 'M'

TypeError: 'str' object does not support item assignment

In [102]:
string = string.replace('p','P')

In [103]:
string

'OPtum'

In [105]:
# duplicates allowed -- Can have same item mutiple times
listB = [1, 2, 10, 10, 10, 30, 30]
print(listB) # Print listB
print('\n')
print(listB[2]) # 3rd element
print(listB[3]) # 4th Element

[1, 2, 10, 10, 10, 30, 30]


10
10

**You can declare different data types inside a list**

In [195]:
# Different Datatypes within a list

Multi_data_type_list = [1, 2.0, 3+2j, True, False, 'Optum']
print(Multi_data_type_list)

print('\n')

print(Multi_data_type_list[-3]) # 3rd Element from End

print('\n')

print(Multi_data_type_list[2]) # 3rd Element from Start

[1, 2.0, (3+2j), True, False, 'Optum']


True


(3+2j)

**You can even define a `list` within a `list`**

In [106]:
list_within_list = [1, 2, [3, 4, 5], [6,7,8]]
print(list_within_list)

print('\n')

print(list_within_list[2]) # 3rd Element of `list_within_list`

print('\n')

print(list_within_list[2][1]) # 2nd Element of list at 3rd position of `list_within_list`

[1, 2, [3, 4, 5], [6, 7, 8]]


[3, 4, 5]


4

##### Properties of `list`
`.append()` `.insert()` `.reverse()` `.count()`

##### `.append()`
This will add the value at the end of the list

In [108]:
example_list = [0, 1, 2]
print(f"Before Append :- {example_list}")

example_list.append(10000) # Add 10000 at the end of the list
print(f"After Append : - {example_list}")

Before Append :- [0, 1, 2]
After Append : - [0, 1, 2, 10000]

##### `.insert()`
**syntax** `listname.insert (index,element)`

`.insert()` takes two parameters: the **index** of where you want to put your new value, and the **value** itself

In [109]:
print(f"Before Append :- {example_list}")

example_list.insert(1,2+3j)

print(f"After Append :- {example_list}")

Before Append :- [0, 1, 2, 10000]
After Append :- [0, (2+3j), 1, 2, 10000]

##### `.reverse()`
**syntax** `listname.reverse()`

`.reverse()` is used to reverse the order of elements in the list.

In [110]:
print(f"Before Reverse :- {example_list}")

example_list.reverse()

print(f"After Reverse :- {example_list}")

Before Reverse :- [0, (2+3j), 1, 2, 10000]
After Reverse :- [10000, 2, 1, (2+3j), 0]

##### `.count()`
**syntax** `listname.count(element)`

`.count()` is used to count the number of time an element occurs in the list.

In [217]:
example_list = [1, 2, 3, 4, 1, 4, 6, 8, 1]
print(f"Number of 1's in list:- {example_list.count(1)}")
print(f"Number of 2's in list:- {example_list.count(2)}")

Number of 1's in list:- 3
Number of 2's in list:- 1

### `Dictionary`
A `dictionary`  is a special data type that is a mapping between a set of keys and a set of values. Dictionary represents a key-value pair enclosed in curly brackets and each element is separated by a comma. Key-value pairs are separated by the colon `:`

Major Difference between `List` and `Dictionary` is, in `dictionary` duplicate entries are not allowed. In `Dictionary`keys are **always Unique**. You can have either a number or String value as your key

**Syntax** `Dictionaryname={key:value}`

In [111]:
# We can have number and string as keys
# We can have any data type as value
courses = {1: 'python', 2: 'data science', 'third': 'JavaScript', 'list' : [1, 2, 3, 4]}
print(courses)

{1: 'python', 2: 'data science', 'third': 'JavaScript', 'list': [1, 2, 3, 4]}

**You can access the value by using the key as the index**

In [112]:
print(courses[1]) # Prints value of element at index 1
print(courses['third']) # Prints value of element at index 'index'

python
JavaScript

In [113]:
# Dictionaries are mutable
print(f'Before Update : {courses}')

courses['third'] = 'machine learning'

print('\n')
print(f'After Update : {courses}')

Before Update : {1: 'python', 2: 'data science', 'third': 'JavaScript', 'list': [1, 2, 3, 4]}


After Update : {1: 'python', 2: 'data science', 'third': 'machine learning', 'list': [1, 2, 3, 4]}

**You can also add new key-value pair through assignment**

In [114]:
print(f'Before Update : {courses}')

courses['fourth'] = 'hadoop'

print('\n')
print(f'After Update : {courses}')

Before Update : {1: 'python', 2: 'data science', 'third': 'machine learning', 'list': [1, 2, 3, 4]}


After Update : {1: 'python', 2: 'data science', 'third': 'machine learning', 'list': [1, 2, 3, 4], 'fourth': 'hadoop'}

##### Properties of `dictionary`
`.items()` `.keys()` `.values()` `.update()`

##### `.items()`
**syntax** `dictionaryname.items()`

`.items()` returns a list of tuples of key-value pair of the dictionary.

In [233]:
courses.items()

dict_items([(1, 'python'), (2, 'data science'), ('third', 'machine learning'), ('list', [1, 2, 3, 4]), ('fourth', 'hadoop')])

##### `.keys()`
**syntax** `dictionaryname.keys()`

`.keys()` returns the list of keys in the dictionary.

In [115]:
print(courses)
print(courses.keys())

{1: 'python', 2: 'data science', 'third': 'machine learning', 'list': [1, 2, 3, 4], 'fourth': 'hadoop'}
dict_keys([1, 2, 'third', 'list', 'fourth'])

##### `.values()`
**syntax** `dictionaryname.values()`

`.values()` returns the list of values in the dictionary.

In [235]:
courses.values()

dict_values(['python', 'data science', 'machine learning', [1, 2, 3, 4], 'hadoop'])

##### `.update()`
**syntax** `dictionaryname.update()`

`.update()` used to update the dictionary.

In [116]:
courses_1 = {4 : 'Data Analysis', 5 : 'Statistics'}

courses.update(courses_1)
print(courses)

{1: 'python', 2: 'data science', 'third': 'machine learning', 'list': [1, 2, 3, 4], 'fourth': 'hadoop', 4: 'Data Analysis', 5: 'Statistics'}

### `Tuple`
A `tuple` in Python is an ordered list that cannot be changed. Unlike a dictionary, duplicates are allowed. Tuples are immutable like a String

In [120]:
animals = ('tiger', 'lion', 'seal', 'seal','seal')
animals

('tiger', 'lion', 'seal', 'seal', 'seal')

In [118]:
# Tuples are indexed which means you can access it via an index number
print(animals[2])
print(animals[1])

seal
lion

In [119]:
# Tuples are immutable
animals[1] = 'Panthera leo'

TypeError: 'tuple' object does not support item assignment

In [246]:
animals.count('seal')

2

### `Set`
A Python `set` is a collection just like Dictionaries and Tuples, but it is `unordered` with no duplicates entries

In [121]:
setA = {1, 2, 3, 4, 5, 5, 5}
print(setA) # Doesn't allows duplicate values

{1, 2, 3, 4, 5}

In [122]:
setA[1] # Throws Error, hence Sets are not indxed

TypeError: 'set' object is not subscriptable

In [123]:
basket_list = ['apple', 'orange', 'apple', 'pear', 'orange', 'banana']
basket_list

['apple', 'orange', 'apple', 'pear', 'orange', 'banana']

In [124]:
basket = {'apple', 'orange', 'apple', 'pear', 'orange', 'banana'}
print(basket) # Not printing in the same order as we have defined
# Due to the above property sets are unordered

{'apple', 'orange', 'banana', 'pear'}

In [125]:
basket[1] = 'Dates' # As it does not allows to change its value, so not mutable i.e. immutable

# As they are not indexed and hence they are not mutable as well.
# So if an object is not indexed then it will not be mutable

TypeError: 'set' object does not support item assignment

## Python Data Types Comparison
Below is quick comparison for Python Data Types

![Python Data Type Comparison](image/Python_Data_Type_Comparison_2.png)

##### Acknowledgement :
We have taken help of following links, while creating this Notebook

- [this Medium Article](https://medium.com/@rinu.gour123/different-types-of-operators-in-python-a2dde168f0a8) for Operators in Python
- [This Article](https://medium.com/madhash/everything-you-need-to-know-about-python-data-types-variables-5d4856ea7e6a) for Data Types in Python

- [This Article](https://www.analyticsvidhya.com/blog/2021/05/data-types-in-python/) from analyticsvidhya.com